<div class="wrapper">
    <h1>About</h1>

    <p>Ova aplikacija je prototip veb aplikacije za kupovinu karata u bioskopima</p>
    <p>Aplikacija je razvijana za kurs softverskih veb aplikacija Univerziteta Singidunum</p>
    <p>Izvorni kod aplikacije je dostupan na GitHub-u:<a class="cyan" href="https://github.com/OgiIlic/KWA2025-projekat"></a></p>
    <p>Libraries used</p>
    <ul>
        <li>Angular 19</li>
        <li>Angular Material</li>
        <li>Axios HTTP Client</li>
    </ul>
</div>
