<mat-toolbar color="primary">
    <span><a href="/" class="title-button"><i class="fa-solid fa-film"></i> StreamCinema</a></span>
    <span class="spacer"></span>
    <span>
        <a routerLink="/" mat-button><i class="fa-solid fa-house"></i> Home</a>
        <a routerLink="/search" mat-button><i class="fa-solid fa-magnifying-glass"></i> Search</a>
        <a routerLink="/actors" mat-button><i class="fa-solid fa-user-tie"></i> Actors</a>
        <a routerLink="/login" mat-button *ngIf="!service.getActiveUser()"><i class="fa-solid fa-arrow-right-to-bracket"></i> Login</a>
        <a routerLink="/user" mat-button *ngIf="service.getActiveUser()"><i class="fa-solid fa-user"></i> Profile</a>
        <a routerLink="/about" mat-button><i class="fa-solid fa-circle-info"></i> About</a>
        <button mat-button *ngIf="service.getActiveUser()" (click)="doLogout()"><i class="fa-solid fa-arrow-right-to-bracket"></i> Logout</button>
    </span>
</mat-toolbar>

<router-outlet />