
html, body { height: 100%; }
body {
     margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

main{
    margin-top: 100px;
}

.title-button{
    text-decoration: none;
    color: black;
}

.container{
    margin-left: 40px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.example-card{
    max-width: 400px;
    margin-bottom: 12px;
    padding-bottom: 100px;
}

mat-toolbar{
    position: fixed;
    top: 0px;
    z-index: 100;
}

mat-card-actions{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    bottom: 10px;
}

.loading-container{
    display: flex;
    justify-content: center;
}

.loading{
    width: 700px;
    height: 250px;
    display: flex;
    text-align: center;
    align-items: center;
    padding-top: 30px;
}

.wrapper{
    margin-top: 100px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.actor-wrapper{
    margin-top: 100px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.detail-card{
    width: 49%;
    height: 736px;
    font-size: 16px;
}

.detail-card-image{
    height: 650px;
}

.movie-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;   
}

.list{
    font-size: 100;
}

.auth-card{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

.full-width{
    width: 100%;
}

.auth{
    padding-bottom: 50px;
}

.auth-h2{
    padding-bottom: 20px;
    margin-left: 125px;
    cursor: default;
}

.auth-card-actions{
    display: fixed;
    bottom: 5px;
    left: 5px;
}



