
html, body { height: 100%; }
body {
     margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container{
    margin-top: 30px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.example-card{
    max-width: 400px;
}

