<p>details works!</p>
<main>
    <div class="wrapper">
      <div class="movie-content">
        <div *ngIf="movie">
        <img mat-card-image class="detail-card-image" src="{{movie.poster}}"
                alt={{movie.title}}>
        </div>
        <!-- <pre>{{movie | json }}</pre> -->

        <mat-card class="detail-card" appearance="outlined">
            <mat-card-content>
              <mat-list role="list">
                  <h1>{{movie?.title}}</h1>
                  <h3>({{movie.originalTitle}})</h3>
                  <p>{{movie?.description}}</p>
                  <h3>Režiser: </h3>
                  <p>{{movie?.director?.name}}</p>
                  <h3>Vreme trajanja: </h3>
                  <p>{{movie.runTime}} minuta</p>
                  <h3>Početak prikazivanja: </h3>
                  <p>{{utils.formatDate(movie.startDate)}}</p>
              </mat-list>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
          </mat-card>
        </div>
    </div>

    <app-loading *ngIf="!movie"></app-loading>
</main>